<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between py-4">
                <div>
                    <img class="footer__img mr-3" src="../../../assets/images/fdte_logo_white.png">
                    <span class="footer__text">Copyright &copy 2019 FDTE. Todos os direitos reservados.</span>
                </div>
                <div>
                    <span class="footer__text">Curta FDTE nas redes sociais!</span>
                </div>
            </div>
        </div>
    </div>
</div>
