<div [ngClass]="isCollapsed ? 'container-fluid' : 'container'">
    <div class="row">
        <div class="header col-12" [ngClass]="isCollapsed ? 'root__margin pr-0 mr-0' : ''">
            <img class="header__logo" src="../../../assets/images/fdte_logo.png" alt="FDTE Logo"/>
            <div class="header__profile">
                <img class="header__profile-img" src="../../../assets/images/user-1.png" alt="User Avatar">
                <div class="header__profile-name">
                    Ariel 'Faccioli' Fajtlowicz
                </div>
                <div class="btn-group" dropdown triggers="hover" #dp="bs-dropdown">
                    <button id="button-basic" dropdownToggle type="button" class="header__profile-dropdown"
                            aria-controls="dropdown-basic" (mouseleave)="dp.hide()">
                        <i class="fas fa-angle-down"></i>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic" (mouseleave)="dp.hide()">
                        <li role="menuitem"><a class="dropdown-item" routerLink="avaliados">Perfil</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" routerLink="/avaliados">Avaliados</a>
                        </li>
                    </ul>
                </div>
                <button *ngIf="!isCollapsed" class="btn btn--open-notes" (click)="toggleNotes()">
                    <i class="far fa-sticky-note"></i>
                </button>
                <button *ngIf="isCollapsed" class="btn btn--close-notes" (click)="toggleNotes()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>

