.header {
    display: flex;
    justify-content: space-between;

    &__logo {
        margin: 1rem 0;
        width: 9.17rem;
        height: 3rem;
    }

    &__profile {
        display: flex;
        align-items: center;
        &-img {
            width: 3.1rem;
            height: 3.1rem;
            border-radius: 6.2rem;
        }
        &-name {
            font-size: 1rem;
            font-family: $font-osb;
            color: $color-grey;
            text-transform: uppercase;
            margin: 0 0.8rem;
        }
        &-dropdown {
            font-size: 1.3rem;
            color: $color-grey-dark;
            margin-right: 2rem;
        }
    }
}
