<div class="notes">
    <!--========== HEADER ==========-->
    <div class="notes__header">
        <div class="notes__header-title">
            Anotações
        </div>
        <div class="notes__header-icon">
            <i class="fas fa-external-link-alt"></i>
        </div>
    </div>
    <!--========== ACTIONS ==========-->
    <div class="notes__actions">
        <div class="notes__create">
            <div class="notes__create-icon">
                <i class="fas fa-plus"></i>
            </div>
            <div class="notes__create-text">
                Criar nova anotação
            </div>
        </div>
        <div class="notes__filter">
            <div class="notes__filter-sort">
                <i class="fas fa-sort-amount-down"></i>
            </div>
            <div class="notes__filter-search">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <!--========== BODY ==========-->
    <div class="notes__body">

    </div>
</div>
