<div class="notes">
    <div class="notes__absolute">
        <!--========== HEADER ==========-->
        <div class="notes__header px-3">
            <h6 class="notes__header-title">
                Anotações
            </h6>
            <div class="notes__header-icon">
                <i class="fas fa-external-link-alt"></i>
            </div>
        </div>
        <!--========== ACTIONS ==========-->
        <div class="notes__actions d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center" (click)="createNote()">
                <button class="notes__create-icon mr-3">
                    <i class="fas fa-plus"></i>
                </button>
                <h5 class="notes__create-text">
                    Criar nova anotação
                </h5>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn--grey mr-3">
                    <i class="fas fa-sort-amount-down"></i>
                </button>
                <button class="btn btn--grey">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <!--========== BODY ==========-->
    <!--[ngStyle]="{'height' : getWindowHeight()}"-->
    <div class="notes__body p-3">
        <div *ngFor="let note of notes" class="notes__card">
            <h5 class="notes__card-name">
                {{note.name}}
            </h5>
            <h6 class="notes__card-subject">
                {{note.subject}}
            </h6>
            <p class="notes__card-description">
                {{note.description}}
            </p>
            <div class="notes__card-date">
                {{note.date}}
            </div>
        </div>
    </div>
</div>
