<div class="evaluated">
    <div class="evaluated__header">
        <div class="container">
            <div class="row">
                <div class="col-12 evaluated__date">
                    AVALIAÇÃO - SET/2018
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row py-5">
            <!--========== DOUGHNUTCHARTS ==========-->
            <div class="doughnut col-sm-4 col-12 mt-3">
                <div class="doughnut--small d-flex justify-content-center">
                    <div class="doughnut__title">
                            <span class="doughnut__title-finished">
                                {{finishedEvaluations}}
                            </span>
                        <p>avaliações</p>
                        <p>finalizadas</p>
                    </div>
                    <canvas baseChart
                            [data]="finishedChartData"
                            [labels]="finishedChartLabels"
                            [colors]="finishedChartColors"
                            [legend]="false"
                            [chartType]="'doughnut'"
                            [options]="chartOptions"
                    ></canvas>
                </div>
            </div>
            <div class="doughnut col-sm-4 col-12 mt-3">
                <div class="doughnut--small d-flex justify-content-center">
                    <div class="doughnut__title">
                        <span class="doughnut__title-pending">
                            {{pendingEvaluations}}
                        </span>
                        <p>avaliações</p>
                        <p>pendentes</p>
                    </div>
                    <canvas baseChart
                            [data]="pendingChartData"
                            [labels]="pendingChartLabels"
                            [colors]="pendingChartColors"
                            [legend]="false"
                            [chartType]="'doughnut'"
                            [options]="chartOptions"
                    ></canvas>
                </div>
            </div>
            <div class="doughnut col-sm-4 col-12 mt-3">
                <div class="doughnut--small d-flex justify-content-center">
                    <div class="doughnut__title">
                        <p>você tem</p>
                        <span class="doughnut__title-timer">
                            {{timerHourLabel !== 0 ? timerHourLabel + 'h' : null}}{{timerHourLabel !== 0 ? timerMinuteLabel : timerMinuteLabel + 'min'}}
                        </span>
                        <p>para finalizar</p>
                    </div>
                    <canvas baseChart
                            [data]="timerChartData"
                            [labels]="timerChartLabels"
                            [colors]="timerChartColors"
                            [legend]="false"
                            [chartType]="'doughnut'"
                            [options]="chartOptions"
                    ></canvas>
                </div>
            </div>
        </div>
        <!--========== CARDS ==========-->
        <div class="row pt-3">
            <div *ngFor="let evaluated of evaluateds" class="col-md-6 col-12 u__mb-45">
                <div class="evaluated-card">
                    <div class="evaluated-card__percentage">
                        <div class="evaluated-card__percentage-bar">
                            <div class="evaluated-card__percentage-bar-fill" [ngStyle]="{'width': evaluated.percentage + '%', 'background-color': evaluated.percentage !== 100 ? '#FDC14A' : '#46BA0B'}"></div>
                        </div>
                        <div class="evaluated-card__percentage-value" [ngStyle]="{'color': evaluated.percentage === 100 ? '#46BA0B' : '#C5D2DC'}">
                            {{evaluated.percentage}}%
                        </div>
                    </div>
                    <div class="evaluated-card__info">
                        <div class="evaluated-card__info-left">
                            <img class="evaluated-card__img" src="{{evaluated.photo}}"
                                 alt="Foto do usuário X">
                        </div>
                        <div class="evaluated-card__info-right">
                            <p class="evaluated-card__name">
                                {{evaluated.name}}
                            </p>
                            <p class="evaluated-card__role">
                                {{evaluated.role}}
                            </p>
                            <button *ngIf="evaluated.percentage === 0" class="btn btn--bordered btn--medium btn--rounded btn--blue">
                                Iniciar Avaliação
                            </button>
                            <button *ngIf="evaluated.percentage > 0 && evaluated.percentage < 100" class="btn btn--bordered btn--medium btn--rounded btn--orange">
                                Continuar Avaliação
                            </button>
                            <p *ngIf="evaluated.percentage === 100" class="evaluated-card__finished">
                                Avaliação Concluída <i class="fas fa-check"></i>
                            </p>
                            <button *ngIf="evaluated.percentage === 100 && !evaluated.schedule" class="btn btn--underline p-0" (click)="openScheduleModal(evaluated)">
                                Agendar Calibragem
                            </button>
                            <div *ngIf="evaluated.percentage === 100 && evaluated.schedule" class="evaluated-card__calibration">
                                <div class="evaluated-card__calibration-left">
                                    <i class="far fa-calendar-check"></i>
                                </div>
                                <div class="evaluated-card__calibration-right">
                                    <p class="evaluated-card__calibration-title">
                                        Calibragem:
                                    </p>
                                    <p class="evaluated-card__calibration-date">
                                        30/03/2019 às 8h30 com Leonidas
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
