.evaluation {
    ul.nav.nav-tabs {
        display: none;
    }

    &__title {
        margin-top: 2.2rem;
        margin-bottom: 0.9rem;
        font-family: $font-oseb;
        font-size: 1rem;
        text-transform: uppercase;
    }

    &__category {
        display: flex;
        align-items: center;
        width: 33%;
        padding: 2rem 1.2rem;
        background-color: $color-text-dark;
        color: $color-white;
        opacity: 0.15;
        cursor: pointer;
        &:not(:last-of-type) {
            margin-right: 1.3rem;
        }
        &--selected {
            background-color: $color-yellow;
            opacity: unset;
        }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
            margin-right: 0.7rem;
            border-radius: 5rem;
            background-color: $color-white;
            font-size: 1.5rem;
            color: $color-text-dark;
            &--selected {
                color: $color-yellow;
            }
        }
        &-title {
            font-family: $font-oseb;
            font-size: 1.1rem;
        }
        &-number {
            font-size: 0.8rem;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-white;
        padding: 0 1.5rem 0.85rem 0;
        margin-bottom: 1.1rem;
        border: 1px solid $color-grey-light-2;
        &-left {
            border-left: 2px solid $color-yellow;
            padding: 1rem 0 1.2rem 1.6rem;
            margin-left: -1px;
        }
        &-title {
            font-family: $font-oseb;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
        &-description {
            width: 65%;
            font-family: $font-osr;
            font-size: 0.9rem;
            text-align: justify;
            color: $color-black;
            line-height: 1.2;
        }
        &-score {
            text-align: center;
            margin-right: 1rem;
            h6 {
                font-family: $font-oseb;
                font-size: 0.7rem;
                margin-bottom: 0.3rem;
            }
            p {
                font-family: $font-oseb;
                font-size: 1.6rem;
            }
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1rem;
            height: 1rem;
            padding: 1rem;
            margin-right: 0.5rem;
            border-radius: 5rem;
            background-color: $color-grey-light-1;
            font-family: $font-ossb;
            font-size: 1.1rem;
            &:hover {
                cursor: pointer;
                color: $color-white;
            }
            &--grey {
                &:hover {
                    background-color: $color-grey;
                }
            }
            &--red {
                &:hover {
                    background-color: $color-red;
                }
            }
            &--yellow {
                &:hover {
                    background-color: $color-yellow;
                }
            }
            &--green {
                &:hover {
                    background-color: $color-green;
                }
            }
        }
        &-comment {
            margin-top: 1.25rem;
            font-family: $font-oseb;
            font-size: 0.9rem;
            color: $color-blue;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
