<div class="assess">
    <!--========== ASSESS INFO ==========-->
    <div class="header__assess">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <h3 class="header__assess-name mb-2">
                            {{assess.name}}
                        </h3>
                        <h6 class="header__assess-role">
                            {{assess.role}} | {{assess.client}}
                        </h6>
                    </div>
                    <div class="header__assess-tabs">
                        <div class="header__assess-tab" [ngClass]="{'header__assess-tab--active' : presentEvaluation}"
                             (click)="activateTab(1)">
                            Avaliação atual
                        </div>
                        <div class="header__assess-tab" [ngClass]="{'header__assess-tab--active' : pastEvaluation}"
                             (click)="activateTab(2)">
                            Avaliações anteriores
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <img src="{{assess.photo}}" alt="" class="header__assess-img">
                </div>
            </div>
        </div>
    </div>
    <!--========== EVALUATION INFO ==========-->
    <div class="header__evaluation">
        <div class="container">
            <div class="row">
                <h6 class="col-12 header__evaluation-date">
                    AVALIAÇÃO - SET/2018
                </h6>
            </div>
        </div>
    </div>
    <!--========== TAB SELECTED ==========-->
    <div *ngIf="presentEvaluation">
        <app-evaluation></app-evaluation>
    </div>
    <div *ngIf="pastEvaluation">
        <app-evaluation-old></app-evaluation-old>
    </div>
</div>
